/* App.css */
body {
  margin: 0;
  padding: 0;
  transition: background-color 0.5s;
}

.layout1 {
  background-color: #f0f0f0; /* Set the background color for Layout 1 */
}

.layout2 {
  background-color: #f8f8f8; /* Set the background color for Layout 2 */
}

/* YourComponent.css */
ul li:hover {
  background-color: #707070; 
  cursor: pointer;
}


/* Style for all tab links */
.nav-tabs .nav-item .nav-link {
  /* Add a black border to all tabs */
  border-radius: 0; /* Make the borders square */
  /* Add other styles as needed */
 width: max-content;
  text-align: center;
  color: gray;
}

/* Style for the active tab's link */
.nav-tabs .nav-item .nav-link.active {
  background-color: #007bff; /* Change to your desired background color for the active tab */
border: none;
border-top: 2px solid #00d084;
background-color:#151818 ;
  color: #fff; /* Change to your desired text color for the active tab */
  /* Add other styles as needed for the active tab */
}

/* Style for the active tab's content */
.tab-content .tab-pane.active {
  background-color: #f0f0f0; /* Change to your desired content background color for the active tab */
  /* Add other styles as needed for the active tab's content */
}



